body {
    margin: 8px 6px 5px 6px;
    font-family: "Helvetica";
    line-height:140%;
    background-color:#EFEFEF;
    color:#474747;
}

ol {
    margin-top: 8px;
    margin-bottom: 8px;
}
      
ol li {
    margin-left: -15.0px;
    margin-bottom: 2px
}

a {
    text-decoration: underline;
    color: #3a87ad;
}

.question {
    margin: 12.0px 10.0px 5.0px 1.0px;
    font-weight:bold;
}

.answer {
    margin: 4.0px 10.0px 8.0px 1.0px;
}

.answeritem {
    margin: 4.0px 10.0px 0.0px 1.0px;
}


.alert {
    padding: 6px 16px 6px 12px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 8px;
}

.alert-info {
    color: #3a87ad;
    background-color:rgba(31,183,215,0.15);
    border-color: #bce8f1;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0.2px 2px rgba(0,0,0,.02);
    box-shadow: 0 0.2px 2px rgba(0,0,0,.02);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #FFFFFF;
    font-weight:bold;
}

.panel-body {
    font-size:15px;
    word-wrap:break-word;
    text-align: left;
    width: 90%;
}

.view-web-body {
    font-size:15px;
    word-wrap:break-word;
    text-align: center;
    width: 90%;
}

.panel>.panel-body {
    padding: 15px;
    color:#8D8D8D;
}

.panel-body>img {
    max-width:500px;
}

.panel-body>div {
    margin-bottom:7px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-heading-without-body {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.panel-primary {
    border: 1px solid;
    border-color:rgba(215,215,215,1);
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color:rgba(138,200,255,1);
}

.panel-success {
    
}

.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
}

.panel-info {
    
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
}

.panel-warning {
    
}

.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.panel-danger {
    
}

.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
}

.step-indicator {
    position: fixed;
    left: 8px;
    width: 12px;
}

.stepImg {
    width: 12px;
    height: 12px;
}

.step {
    align-content: center;
    height: 12px;

.panel .alert {
    margin-top:12px;
    margin-bottom:0px;
}
